

.main{
  background-image: url("olympics-background.png");
}

.content{
  height: fit-content;
  width: 65vw;
  border-style: solid;
  margin-left: auto;
  margin-right: auto;
  background-color: rgba(0, 0, 0, 0.651);
  padding: 1%;
  color: white;
}

.medalsHead{background-color: rgba(48, 48, 48, 0.829);}
.medalsRow:nth-child(even) {background-color: rgba(48, 48, 48, 0.829);}
.medalsRow:nth-child(odd) {background-color: rgba(3, 3, 3, 0.418);}

.medalsTable {
  border: 1px solid;
}

.medalsTable {
  border-collapse: collapse;
}